/* Sombra y hover sobre cada card */
ion-card {
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: rgb(255, 255, 255);
  border-style: solid ;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
}
ion-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

/* Mantener background semitransparente */
ion-card.bg-dark {
  background-color: rgba(255, 255, 255, 0.05) !important;
}

/* Placeholder color */
ion-input::part(native)::-webkit-input-placeholder {
  color: #888888;
  opacity: 1;
}
ion-input::part(native):-ms-input-placeholder {
  color: #888888;
  opacity: 1;
}
ion-input::part(native)::placeholder {
  color: #888888;
  opacity: 1;
}