<ion-content class="ion-padding bg-dark text-light" [fullscreen]="true">
  <ion-card 
    *ngFor="let item of itinerary; let i = index"
    class="mb-3 shadow-lg border-light rounded-4 p-3"
    style="background-color: rgba(255, 255, 255, 0.05);">
    
    <ion-card-header>
      <ion-card-title>
        <ion-input 
          placeholder="Escribe un lugar..." 
          [(ngModel)]="item.title"
          class="fform-control text-light bg-transparent border-secondary input-center-placeholder">
        </ion-input>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button 
        expand="block" 
        fill="outline" 
        color="primary"
        class="mb-2"
        (click)="openDetails(i)">
        Detalles
      </ion-button>

      <ion-button
        *ngIf="i < itinerary.length - 1 && (item.title.trim() !== '' || item.time.trim() !== '' || item.description.trim() !== '')"
        expand="block"
        color="danger"
        fill="outline"
        class="mb-2"
        (click)="deleteCard(i)">
        Eliminar
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-button
    *ngIf="hasFilledCard()"
    expand="block"
    color="success"
    class="mt-3"
    (click)="goToNextTab()">
    Siguiente Tab
  </ion-button>
</ion-content>
