
.tituloSesion{
    margin-left: 70px;
}
.subtituloSesion{
    margin-left: 80px;
}
.flex{
    margin-left:25%;
}

.container-error-message {
    padding: 3px;
    
}

.alert-danger{
    color: red;
    
}
.text-danger{
    color: red;
}