<ion-content [fullscreen]="true">
  <br>
  <ion-list>
    <form >
    
      <ion-list >
             
        <ion-label>
          <h2 class="titulo">Inicio de sesión</h2>
          <br>
          <br>
        </ion-label>
        
        <ion-item >    
          <ion-input  class="form-login"  name="correo" label="Correo" placeholder="Correo" ></ion-input>
        </ion-item>
            
        <ion-item>      
          <ion-input class="form-login" name="password"  label="Contraseña" type="password" placeholder="Ingresa tu contraseña"></ion-input>
        </ion-item>

        <ion-button fill="outline" color="danger" type="submit" >Ingresar</ion-button>
          
      </ion-list>
      
    </form>

      <ion-row>
        <ion-col class="flex">
          <label>aun no tienes cuenta?</label>
        </ion-col>
      </ion-row>
    
    <ion-button expand="block" color="success" >Regístrate aqui</ion-button><br>
    <ion-button expand="block" color="dark" >Recuperar contraseña</ion-button>
  </ion-list>

</ion-content>